body {
  border: 1px solid red;
  width: 895px;
  height: 645px;
  margin-left: 195px;
  margin-top: 75px;
}
input {
  border: 1px solid black;
  margin-left: 100px;
  margin-top: 115px;
  height: 30px;
  width: 200px;
}
div {
  //border: 1px solid red;
  height: 155px;
  width: 160px;
  margin: 20px 20px;
}
#results {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}
